* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: 'PT Serif', serif;
    font-size: 1.2em;
}

/*---------------------------------------**CSS KHADIJA**---------------------------------------*/



.app, .sect .item1, .sect .item2, .sect .item3 {
    text-align: justify;
    justify-content: center;
    margin: 20px;
    width: 90%;
  }
  
  .app h2, .sect .item1 h2, .sect .item2 h2, .sect .item3 h2 {
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
    color: #FF7315;
  }
  
  .app img, .sect .item1 img, .sect .item2 img, .sect .item3 img {
    width: 20%;
    height: 20%;
    margin-left: 130px;
    margin: 0 100px;
  }
  
  .app img:hover, .sect .item1 img:hover, .sect .item2 img:hover, .sect .item3 img:hover {
    transform: scale(1.4);
  }
  
  .app p, .sect .item1 p, .sect .item2 p, .sect .item3 p {
    text-align: left;
    *float: left;
    font-size: 20px;
    margin-top: 25px;
  }
  
  .sect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 75%;
    justify-items: center;
    grid-gap: 20px;
    height: 550px;
  }
  
  .sect .sect__info {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 40px;
  }
  
  .sect .sect__info .sect__info--modif {
    color: #FF7315;
    font-size: 20px;
  }
  
  .sect .item1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .sect .item2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  .sect .item3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }






@media screen and (max-width: 480) {}

/*-------------------------------------**FIN CSS KHADIJA**-------------------------------------*/
/*-----------------------------------------**CSS SAAF**----------------------------------------*/




@media screen and (max-width: 480px) {

   
    body {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 1000px;
      }
      .sect {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
      }
      .sect .sect__info {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 250px;
      }
      .sect .item1 {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 250px;
      }
      .sect .item1 img {
        margin-left: 140px;
      }
      .sect .item2 {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 250px;
        margin-top: 30%;
      }
      .sect .item2 img {
        margin-left: 140px;
      }
      .sect .item3 {
        grid-column: 1/2;
        grid-row: 4/5;
        height: 250px;
        margin-top: 70%;
      }
      .sect .item3 img {
        margin-left: 140px;
      }


}

/*----------------------------------------**FIN CSS SAAF**-------------------------------------*/
/*-----------------------------------------**CSS NAJJAR**----------------------------------------*/




@media screen and (max-width: 480) {}

/*----------------------------------------**FIN CSS NAJJAR**-------------------------------------*/
/*-----------------------------------------**CSS ILYASS**----------------------------------------*/




@media screen and (max-width: 480) {}

/*----------------------------------------**FIN CSS ILYASS**-------------------------------------*/
/*-----------------------------------------**CSS SAMIR**----------------------------------------*/




@media screen and (max-width: 480) {}

/*----------------------------------------**FIN CSS SAMIR**-------------------------------------*/
/*-----------------------------------------**CSS SANAE**----------------------------------------*/





@media screen and (max-width: 480) {}

/*----------------------------------------**FIN CSS SAMIR**-------------------------------------*/