* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: 'PT Serif', serif;
    font-size: 1.2em;
}

/*---------------------------------------**CSS KHADIJA**---------------------------------------*/






@media screen and (max-width: 480px) {}

/*-------------------------------------**FIN CSS KHADIJA**-------------------------------------*/
/*-----------------------------------------**CSS SAAF**----------------------------------------*/




@media screen and (max-width: 480px) {}

/*----------------------------------------**FIN CSS SAAF**-------------------------------------*/
/*-----------------------------------------**CSS NAJJAR**----------------------------------------*/




@media screen and (max-width: 480px) {}

/*----------------------------------------**FIN CSS NAJJAR**-------------------------------------*/
/*-----------------------------------------**CSS ILYASS**----------------------------------------*/




@media screen and (max-width: 480px) {}

/*----------------------------------------**FIN CSS ILYASS**-------------------------------------*/
/*-----------------------------------------**CSS SAMIR**----------------------------------------*/




@media screen and (max-width: 480px) {}

/*----------------------------------------**FIN CSS SAMIR**-------------------------------------*/
/*-----------------------------------------**CSS SANAE**----------------------------------------*/





@media screen and (max-width: 480px) {}

/*----------------------------------------**FIN CSS SAMIR**-------------------------------------*/
